/* HEADER */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2a2a2a;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    color: white;
}

/* BUSCADOR */
.search-container {
    margin-top: 150px;
    text-align: center;
}

.search-container input {
    width: 50%;
    padding: 12px;
    border-radius: 25px;
    border: none;
}

.search-container button {
    padding: 12px 20px;
    margin-left: 10px;
    border-radius: 25px;
}